.graph {
  width: 100%;
}

.bars {
  display: flex;
  margin-bottom: 36px;
}

.barArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.bar {
  height: 30px;
  width: 20px;
  margin: 4px;
}

@media (min-width: 576px) {
  .bar {
    margin: 10px;
  }
}

.positive {
  background: #9ecd32;
}

.neutral {
  height: 2px;
  background: #646cff;
}