:root {
  font-family: "Special Elite", system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #f2f6e9;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  width: 100%;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 30px;
  max-width: 600px;
  font-size: 18pt;
  font-family: Lexend, Helvetica, sans-serif;
  background-color: #c2d98e;
  border: solid black 5px;
  border-radius: 2rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  width: 100%;
}

input {
  flex: 1;
  font-size: 18pt;
  border: solid black 4px;
  margin: 0 0 24px;
  padding: 4px 8px;
}

button,
.button {
  background: #6132CD;
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1.0rem 0.5rem;
  margin: 0 0 0 18px;
  border-radius: 0.5rem;
  font-size: 18pt;
  font-weight: 1000;

  &:hover {
    background: #9ECD32;
    color: #fff;
  }
}
